<!-- Barra de navegación fija -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <h2>Avícola Las Mariposas</h2>
    </div>
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/plantel/listas-plantel" class="nav-link">Plantel</a>
      </li>
      <li class="nav-item">
        <a routerLink="/produccion/dashboard" class="nav-link">Producción</a>
      </li>
      <li class="nav-item">
        <a routerLink="/venta/listas-venta" class="nav-link">Ventas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pedido/listas-pedido" class="nav-link">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>
