<app-barnav></app-barnav>

<div class="contenedor-pedidos">
  <h2 class="titulo-seccion">Gestión de Pedidos</h2>
  <button routerLink="/pedido/agregar-pedido" class="btn-agregar">➕ Agregar Pedido</button>

  <table class="tabla-pedidos">
    <thead>
      <tr>
        <th>ID Pedido</th>
        <th>Nombre Cliente</th>
        <th>Categoría</th>
        <th>Cantidad</th>
        <th>Fecha Pedido</th>
        <th>Fecha Entrega</th>
        <th>Método de Pago</th>
        <th>Precio</th>
        <th>Nota del Pedido</th>
        <th>Estado del Pedido</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.id_pedido }}</td>
        <td>{{ pedido.nombre_cliente }}</td>
        <td>{{ pedido.id_categoria }}</td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.fecha_pedido | date:'yyyy-MM-dd' }}</td>
        <td>{{ pedido.fecha_entrega | date:'yyyy-MM-dd' }}</td>
        <td>{{ pedido.metodo_pago }}</td>
        <td>{{ pedido.precio }}</td>
        <td>{{ pedido.nota_pedido }}</td>
        <td>{{ pedido.estado_pedido }}</td>
        <td><a routerLink="/pedido/editar-pedido" [queryParams]="{id: pedido.id_pedido}" style="text-decoration: none; cursor: pointer; color: #E5A823;">Editar</a></td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>