<app-barnav></app-barnav>

<div class="contenedor-produccion">
  <h2 class="titulo-seccion">Dashboard de Producción</h2>

  <div class="resumen-estadisticas">
    <div class="card-estadistica">
      <h3>Total Producción</h3>
      <p>5.320 unidades</p>
    </div>
    <div class="card-estadistica">
      <h3>Promedio Diario</h3>
      <p>178 unidades</p>
    </div>
    <div class="card-estadistica">
      <h3>Registros</h3>
      <p>30 entradas</p>
    </div>
  </div>

  <button class="btn-agregar" routerLink="/produccion/registrar-produccion">➕ Agregar Producción</button>

  <table class="tabla-produccion">
    <thead>
      <tr>
        <th>ID Producción</th>
        <th>ID Plantel</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>ID Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of producciones">
        <td>{{ prod.id_produccion }}</td>
        <td>{{ prod.id_plantel }}</td>
        <td>{{ prod.fecha | date:'yyyy-MM-dd' }}</td>
        <td>{{ prod.cantidad }}</td>
        <td>{{ prod.id_categoria }}</td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>