<app-barnav></app-barnav>

<div class="contenedor-planteles">
  <h2 class="titulo-seccion">Gestión de Planteles</h2>
  <button routerLink="/plantel/agregar-plantel" class="btn-agregar">➕ Agregar Plantel</button>

  <table class="tabla-planteles">
    <thead>
      <tr>
        <th>ID Plantel</th>
        <th>Costo</th>
        <th>Semanas Gallinas</th>
        <th>Fecha Compra</th>
        <th>Fecha Llegada</th>
        <th>Inicio Postura</th>
        <th>Término Plantel</th>
        <th>Inicio Pelecha</th>
        <th>Total Gallinas</th>
        <th>Raza Gallinas</th>
        <th>Estado</th>
        <th>Notas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plantel of planteles">
        <td>{{ plantel.id_plantel }}</td>
        <td>{{ plantel.costo }}</td>
        <td>{{ plantel.semanas_gallinas }}</td>
        <td>{{ plantel.fecha_compra | date:'yyyy-MM-dd' }}</td>
        <td>{{ plantel.fecha_llegada | date:'yyyy-MM-dd' }}</td>
        <td>{{ plantel.inicio_postura | date:'yyyy-MM-dd' }}</td>
        <td>{{ plantel.termino_plantel | date:'yyyy-MM-dd' }}</td>
        <td>{{ plantel.inicio_pelecha | date:'yyyy-MM-dd' }}</td>
        <td>{{ plantel.gallinas_total }}</td>
        <td>{{ plantel.raza_gallinas }}</td>
        <td>{{ plantel.estado }}</td>
        <td>{{ plantel.notas_plantel }}</td>
        <td>
          <a routerLink="/plantel/editar-plantel" [queryParams]="{id: plantel.id_plantel}" style="text-decoration: none; cursor: pointer; color: #E5A823;">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>