<app-barnav></app-barnav>

<div class="contenedor-ventas">
  <h2 class="titulo-seccion">Listado de ventas</h2>

  <table class="tabla-ventas">
    <thead>
      <tr>
        <th>ID Venta</th>
        <th>Nombre Cliente</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Método de Pago</th>
        <th>Fecha Pago</th>
        <th>Nota de Venta</th>
        <th>ID Plantel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.id_venta }}</td>
        <td>{{ venta.nombre_cliente }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>{{ venta.precio }}</td>
        <td>{{ venta.metodo_pago }}</td>
        <td>{{ venta.fecha_pago | date:'yyyy-MM-dd' }}</td>
        <td>{{ venta.nota_venta }}</td>
        <td>{{ venta.id_plantel }}</td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>