<app-barnav></app-barnav>

<div class="contenedor-ventas">
  <h2 class="titulo-seccion">Listado de ventas</h2>

  <table class="tabla-ventas">
    <thead>
      <tr>
        <th>ID Venta</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Método de Pago</th>
        <th>Nota de Venta</th>
        <th>RUT</th>
        <th>ID Cliente</th>
        <th>ID Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.id_venta }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>{{ venta.precio }}</td>
        <td>{{ venta.metodo_pago }}</td>
        <td>{{ venta.nota_venta }}</td>
        <td>{{ venta.rut }}</td>
        <td>{{ venta.id_cliente }}</td>
        <td>{{ venta.id_categoria }}</td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>