<app-barnav></app-barnav>

<div class="contenedor-ventas">
  <h2 class="titulo-seccion">Listado de ventas</h2>

  <table class="tabla-ventas">
    <thead>
      <tr>
        <th>ID Venta</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Método de Pago</th>
        <th>Nota de Venta</th>
        <th>RUT</th>
        <th>ID Cliente</th>
        <th>ID Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>3</td>
        <td>$9.000</td>
        <td>Transferencia</td>
        <td>Pago parcial</td>
        <td>12345678</td>
        <td>101</td>
        <td>5</td>
      </tr>
      <tr>
        <td>2</td>
        <td>6</td>
        <td>$18.000</td>
        <td>Efectivo</td>
        <td>-</td>
        <td>22334455</td>
        <td>102</td>
        <td>3</td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
        <td>$3.000</td>
        <td>Débito</td>
        <td>Cliente nuevo</td>
        <td>98765432</td>
        <td>103</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>